[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
pandas = "*"
sympy = "*"
nose = "*"
seaborn = "*"
tweepy = "*"
toml = "*"
requests = "*"

[dev-packages]
pylint = "<2.0.0"
ipython = "*"
jupyter = "*"
notebook = "*"
jupyterlab = "*"
rope = "*"
"autopep8" = "*"
jupyterlab-discovery = "*"

[requires]
python_version = "3.6"
