[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
numpy = "*"
scipy = "*"
matplotlib = "*"
jupyter = "*"
pandas = "*"
sympy = "*"
nose = "*"
seaborn = "*"
notebook = "*"

[dev-packages]
pylint = "<2.0.0"
ipython = "*"
rope = "*"

[requires]
python_version = "3.6"
